.board-overlay {
	display:inline-block;
	font-family: arial;
	position: relative;
}
.board-overlay>* {
    background: #eee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(135deg, #fff, #eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, #fff, #eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, #fff, #eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #fff, #eee); /* Standard syntax */
}
.board {
	background: #ccc;
	border-collapse: collapse;
	height:100%;
}

.board-wrapper-max-height {
    height: 500pt;
}

.tasks {
    height: 100%;
}
.tasks td {
	width:70pt;
	text-align: center;
	border: 1px solid black;
	vertical-align: top;
}
.task {
	    background: yellow;
	    border-radius: 6pt;
	    padding: 3pt;
	    margin: 3pt;
	    border-style: solid;
	    border-color: black;
	    border-width: thin;
		text-align: center;
	    -webkit-animation-name: taskAnimation; /* Chrome, Safari, Opera */
	     -webkit-animation-duration: .2s; /* Chrome, Safari, Opera */
	     animation-name: taskAnimation;
	     animation-duration: .2s;
		 position:relative;
	}
.task .progress {
    height: 6px;
    margin-bottom: 0px;
}
.task .progress-bar {
    -webkit-transition: width .1s ease;
    -o-transition: width .1s ease;
    transition: width 0.1s ease;
}
.board th {
	text-align: center;
	border: 1px solid black;
	background-color: #eea;
}


/* Standard syntax */
@keyframes taskAnimation {
    from {border-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    to {border-color: black;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes taskAnimation {
    from {border-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    to {border-color: black;}
}

.top-toolbar {
    display: -ms-flexbox;
    display: -webkit-flex;	
	display: flex;
    border: 1px;
	border-bottom: 0px;
    border-style: solid;
}

.top-toolbar>div{
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
	flex-shrink: 1;
    padding: 3pt;
    padding-left: 10pt;
    padding-right: 10pt;
    display: inline-block;
    vertical-align: top;
    border: 0pt;
    border-style: solid;
}
.top-toolbar>div:not(:first-child) {
	border-left: 1px;
	border-style: solid;
}

.bottom-menu {
    border: 1px;
	border-top: 0px;
    border-style: solid;
}

.actions {
	position: relative;
}

.simulation-settings-div {
    position: absolute;
    right: 17px;
    z-index: 100;
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 10px 10px 5px rgba(150, 150, 150, 0.8);
	width: 290pt;
}

.simulation-settings-div>div{
    padding: 3pt;
    padding-left: 10pt;
    padding-right: 10pt;
    display: inline-block;
    vertical-align: top;
    border: 1pt;
    border-style: solid;
    margin: 3pt;
    background-color: papayawhip;
}

.title {
	flex: 1;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.title p:nth-child(2) {
	font-size: x-large;
}

.title p {
	margin: 0;
}

#timescaleSlider .slider-selection {
	background: #BABABA;
}

.slider.slider-horizontal {
	width: 140px;
}

.board-wrapper{ 
    border-width: 1pt;
    border-style: solid;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 300pt;
}

.board input[type="text"] {
	width: 20pt;
}

.general-stats {
    border-width: 1pt;
    border-style: solid;
	padding: 5px;
}

.simulation-settings-general input[type="text"] {
	width: 20pt;
}

.board th span.headcount {
    padding: 2pt;
    padding-left: 4pt;
    padding-right: 4pt;
}

th.analysis {
	background: #cce;
}
td.analysis, td.analysisDone, .board th span.headcount.analysis {
	background: #aac;
}
span.analysis {
	color: #00f;
}

th.development {
	background: #cec;
}
td.development, td.developmentDone, .board th span.headcount.development {
	background: #aca;
}
span.development {
	color: #0c0;
}

th.qa {
	background: #ece;
}
td.qa, td.qaDone, .board th span.headcount.qa {
	background: #cac;
}
span.qa {
	color: #f0f;
}

th.deployment {
	background: #cee;
}
td.deployment, td.deploymentDone, .board th span.headcount.deployment {
	background: #acc;
}
span.deployment {
	color: #aad;
}

.board .person {
	text-shadow: 1px 1px 2px #000000;
	letter-spacing: -6pt;
}

.board .waiting {
	text-shadow: 1px 1px 2px #000000;
}

.board-overlay .person {
	text-shadow: 1px 1px 2px #000000;
}

.nav li {
	cursor: pointer;
}

.simulation-cfd-tab, .simulation-littles-tab {
	height:350px;
	width: 100%;
	margin-bottom: 8pt;
}

.tasksDivOverlay { 
	display: none; 
	background-color:rgba(255, 255, 255, 0.1); 
	text-align:center;
	position:absolute; 
	z-index:10000; 
} 
