.board-overlay {
    display: inline-block;
    font-family: arial;
    position: relative;
    width: 100%;
    border-width: 1px;
    border-style: solid;
}

.board-overlay > * {
    background: #eee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(135deg, #fff, #eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, #fff, #eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, #fff, #eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #fff, #eee); /* Standard syntax */
    border-style: solid;
    border-width: 1px 0px 0px;
}

.board-overlay > div:first-of-type {
    border-width: 0px;
}

.board {
    background: #ccc;
    border-collapse: collapse;
    height: 100%;
    table-layout: fixed;
    width: 100%;
}

.board-wrapper-max-height {
    height: 500pt;
}

.tasks {
    height: 100%;
}

.tasks td {
    text-align: center;
    border: 1px solid black;
    vertical-align: top;
}

.task {
    background: yellow;
    border-radius: 6pt;
    padding: 3pt;
    margin: 3pt;
    border-style: solid;
    border-color: black;
    border-width: thin;
    text-align: center;
    position: relative;
}

.task-animation {
    -webkit-animation-name: taskAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .2s; /* Chrome, Safari, Opera */
    animation-name: taskAnimation;
    animation-duration: .2s;
}

.task .progress {
    height: 6px;
    margin-bottom: 0px;
}

.progress-bar {
    -webkit-transition: width 0s ease;
    -o-transition: width 0s ease;
    transition: width 0s ease;
}

.task-animation .progress-bar {
    -webkit-transition: width .1s ease;
    -o-transition: width .1s ease;
    transition: width 0.1s ease;
}

.task .task-status {
    display: inline-block;
}

.board th {
    text-align: center;
    border: 1px solid black;
    background-color: #eea;
    overflow: hidden;
}

/* Standard syntax */
@keyframes taskAnimation {
    from {
        border-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    to {
        border-color: black;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes taskAnimation {
    from {
        border-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    to {
        border-color: black;
    }
}

.top-toolbar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.top-toolbar > div {
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    padding: 3pt;
    padding-left: 10pt;
    padding-right: 10pt;
    display: inline-block;
    vertical-align: top;
    border: 0pt;
    border-style: solid;
}

.top-toolbar > div:not(:first-child) {
    border-left: 1px;
    border-style: solid;
}

.bottom-menu {
}

.actions {
    position: relative;
}

.simulation-settings-modal .modal-body > div {
    padding: 3pt;
    padding-left: 10pt;
    padding-right: 10pt;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #f9f9f9;
    overflow: auto;
}

.settings-table input[type="text"] {
    width: 40pt;
}

.settings-table {
    table-layout: fixed;
    width: 100%;
}

.settings-table tr:hover {
    background-color: #eee;
}

.settings-table tr td {
    text-align: left;
    font-weight: normal;
    padding: 3px;
}

.settings-table tr td:first-child {
    text-align: right;
    padding-right: 3pt;
    overflow: hidden;
}

.board-config-div {
    text-align: center;
}

.board-config tr.sortit {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.board-config, .board-config th {
    text-align: center;
}

.board-config tr:hover {
    background-color: #eee;
}

.board-config {
    margin: 0 auto;
}

.board-column-remove {
    color: red;
    cursor: pointer;
}

.backlog-settings {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.backlog-settings > div {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    vertical-align: top;
}

.simulation-settings-team .simulation-settings-team-headcount {
    table-layout: auto;
}
.simulation-settings-team .simulation-settings-team-headcount td:nth-child(odd){
    text-align: right;
    padding-right: 3pt;
    overflow: hidden;
}
.simulation-settings-team h4 {
    text-align: center;
}
.who-works-where {
    width: auto;
    margin: 0 auto;
}
.who-works-where th {
    text-align: center;
    padding: 3pt;
}
.who-works-where tr td:nth-child(2) input{
    width: inherit;
}
.team-member-remove {
    color: red;
}

.title {
    flex: 1;
    -webkit-flex: 1;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.title p:nth-child(2) {
    font-size: x-large;
}

.title p {
    margin: 0;
}

#timescaleSlider .slider-selection {
    background: #BABABA;
}

.slider.slider-horizontal {
    width: 140px;
}

.board-wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 210pt;
    border-width: 0px;
}

.board input[type="text"] {
    width: 20pt;
    border-width: 0;
}

.general-stats {
    padding: 5px;
}

.board th input {
    margin-top: 3pt;
    margin-bottom: 3pt;
}

.board th input[type='checkbox'] {
    margin-top: 8pt;
    margin-bottom: 4pt;
}

.board .person {
    text-shadow: 1px 1px 2px #000000;
    letter-spacing: -6pt;
}

.board .waiting {
    text-shadow: 1px 1px 2px #000000;
}

.board-overlay .person {
    text-shadow: 1px 1px 2px #000000;
}

.nav li {
    cursor: pointer;
}

.simulation-cfd-tab, .simulation-littles-tab, .simulation-cod-tab, .simulation-scatterplot-tab {
    height: 300px;
    width: 100%;
}

.simulation-cfd-tab {
    display: flex;
    display: -webkit-flex;
}

.simulation-cfd {
    height: 100%;
    flex: 1;
    -webkit-flex: 1
}

.simulation-cfd-settings {
    height: 100%;
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    padding: 10pt;
    background-color: #ddd;
}

.simulation-cfd-settings div {

}

.tasksDivOverlay {
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    position: absolute;
    z-index: 10;
}

.footer {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.footer > div {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}

.copyright {
    text-align: right;
}
